/* Personal Site - My home on the Internet
Copyright (C) 2022-2025 William Weber Berrutti (aka Cyantusk)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see https://www.gnu.org/licenses/. */


/** Main objects **/
html
{
    box-sizing: border-box;
}

*, *::before, *::after
{
    box-sizing: inherit;
}

:root
{
    --primary-color: #00eeee;
    --primary-color-documentation: #22aaaa;
    --primary-color-documentation-font: #fa3333;
    --primary-color-error: #ee4444;
    --primary-color-font: #19d8d8;
    --secondary-color: white;
    --secondary-color-documentation: #16d1d1;
    --secondary-color-error: #ee6666;
    --secondary-color-font: white;
    --background-color-banrisul: #14255a;
    --background-color-details: #000808;
    --background-color-summary: #0e0e0e;
    --background-color-table-of-contents: #000808;
    --border-color-summary: #22aaaa;
    --button-font-color: #22ffff;
    --button-font-color-documentation: #fa6666;
    --link-color-unvisited: skyblue;
    --link-color-unvisited-documentation: #ffaaaa;
    --link-color-visited: steelblue;
    --link-color-visited-documentation: #cc6666;
    
    --selection-background: #22ffff;
    --selection-background-documentation: #ff4444;
    --selection-text: black;

    text-align: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    overflow-wrap: break-word;
    overflow-y: scroll;

    color: var(--primary-color);
    font-family: sans-serif;
    font-size: 16px;

    background-image: url("images/design/background.png");
    background-position: center top;
}

a:focus
{
    outline: 0.05em solid var(--selection-background);
    z-index: 0;

    border-radius: 2.5px;
}

#nav_blog a:focus, #footer_blog a:focus
{
    outline: 0.05em solid var(--selection-background-documentation);
}

summary:focus
{
    outline: 0.25em double var(--selection-background);
    z-index: 0;

    border-radius: 2.5px;
}

#html_blog
{
    background-image: url("images/design/blog_background.png");
}

@media only screen and (max-width: 768px)
{
    :root
    {
        margin-left: 1%;
        margin-right: 1%;
    }
}

h1, h2, h3, h4, h5, h6
{
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

h1
{
    font-size: 20px;
}

h2
{
    font-size: 18px;
}

h1, h2, h3, h4
{
    margin-top: 40px;
}

li
{
    text-align: left;
    justify-content: left;
    line-height: 150%;
    margin-bottom: 12px;
}


/** Images **/

.picture_illustration, .picture_illustration_donate, .picture_illustration_documentation
{
    max-width: 20%;
    width: 300px;
}

.picture_illustration_documentation
{
    margin-top: 16px;
}

.picture_illustration_projects
{
    max-width: 35%;
    width: 300px;
}

.picture_illustration_career
{
    max-width: 25%;
    width: 200px;
}

.picture_illustration_contributions
{
    max-width: 30%;
    width: 300px;
}

@media only screen and (max-width: 768px)
{
    .picture_illustration, .picture_illustration_donate
    {
        max-width: 50%;
        width: 150px;
    }

    .picture_illustration_projects
    {
        max-width: 50%;
        width: 250px;
    }

    .picture_illustration_career
    {
        max-width: 35%;
        width: 200px;
    }

    .picture_illustration_contributions
    {
        max-width: 45%;
        width: 200px;
    }
}

.avatar 
{
    max-width: 60%;
    width: 150px;
    border-radius: 50%;
}

.picture_testimonial
{
    max-width: 60%;
    width: 150px;
    margin-top: 24px;
    border-radius: 50%;
}

.picture_institution
{
    max-width: 35%;
    width: 250px;
    
    border-radius: 7.5px;
    margin-top: 32px;
    margin-bottom: 15px;
    
    background-color: var(--secondary-color);
}

.picture_institution_banrisul
{
    background-color: var(--background-color-banrisul);
}

@media only screen and (min-width: 768px)
{
    .avatar
    {
        max-width: 22%;
        width: 300px;
    }

    .picture_institution
    {
        margin-top: 32px;
        border-radius: 10px;
    }

    .picture_testimonial
    {
        width: 30%;
        margin-top: 24px;
    }
}

.picture_project, .picture_puzzle_gallery, .picture_realm667_small, .picture_game_maps_gallery, .picture_game_skins_gallery
{
    border-radius: 10px;
}

img
{
    max-width: 100%;
    height: auto;
}

a img
{
    float: center;
    width: 450px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.picture_gallery
{
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
    border: 6px solid rgba(14,14,14,0);
    line-height: 75%;
}

.picture_gallery:hover
{
    border: 6px solid rgba(14,14,14,0);
    border-image: url("images/design/hover_box.png") round;
    border-image-slice: 6 fill;
    line-height: 75%;
}

.picture_gallery:focus
{
    outline: 0.25em double var(--selection-background);
    outline-offset: -4px;
    z-index: 0;

    border-radius: 10px;
}

.picture_project
{
    max-height: 80%;
    max-width: 80%;
}

@media only screen and (min-width: 768px)
{
    .picture_project
    {
        max-height: 600px;
        max-width: 600px;
    }
}

.picture_puzzle_gallery, .picture_game_maps_gallery, .picture_game_skins_gallery
{
    margin-top: 24px;
    max-height: 65%;
    border-radius: 2.5px;

    height: auto;
    width: auto;
}

@media only screen and (min-width: 768px)
{
    .picture_puzzle_gallery, .picture_game_maps_gallery, .picture_game_skins_gallery
    {
        max-height: 80%;
        border-radius: 5px;
    }
}

.picture_realm667_small
{
    margin-top: 50px;
    max-height: 50%;
    max-width: 50%;
}

@media only screen and (min-width: 768px)
{
    .picture_realm667_small
    {
        margin-top: 50px;
        max-height: 200px;
        max-width: 200px;
    }
}

.picture_sitethemes
{
    max-width: 95%;
    border-radius: 5px;
    margin-top: 8px;

    height: auto;
    width: auto;
}

.picture_logo
{
    margin: 16px;
    max-height: 500px;
    max-width: 500px;
}

@media only screen and (max-width: 768px)
{
    .picture_logo
    {
        max-height: 75%;
        max-width: 75%;
    }
}

.picture_qrcode
{
    margin-top: 16px;
    max-width: 50%;
    width: 200px;

    float: initial;
    height: auto;
    object-fit: initial;
}

.picture_qrcode_paypal
{
    border: 2px solid var(--secondary-color);
}

/** Containers **/

.container, .container_testimonial, .container_realm667, .container_ipog, .container_game_maps, .container_game_skins, .container_certificates
{
    margin-top: 25px;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container_testimonial, .container_realm667, .container_ipog, .container_game_maps, .container_game_skins, .container_certificates
{
    align-items: top;
    justify-content: space-evenly;
}

.container_game_maps, .container_game_skins, .container_certificates
{
    margin-top: 8px;
}

.container_ipog
{
    display: block;
    margin-top: 16px;
}

.container_testimonial_element, .container_realm667_element, .container_ipog_element, .container_game_maps_element, .container_game_skins_element, .container_certificates_element
{
    margin: 15px;
    display: inline-block;
    width: 700px;
}

.container_testimonial_element, .container_game_maps_element, .container_game_skins_element
{
    width: 600px;
}

.container_game_maps_element, .container_game_skins_element
{
    margin: 0px;
}

.container_certificates_element
{
    width: 75%;
    height: auto;
}

.container_ipog_element
{
    margin: 5px;
    width: auto;
    max-width: 600px;
    max-height: 400px;
}

.container_realm667_element
{
    width: 600px;
}

.picture_cyantusk_skin
{
    width: 68px;
    height: 114px;
}

.picture_ipog_gallery
{
    height: auto;
    width: auto;
    border-radius: 5px;
}

.picture_certificate
{
    max-width: 75%;
    width: auto;
    height: auto;
}

@media only screen and (max-width: 768px)
{
    .container_testimonial_element, .container_realm667_element
    {
        margin: 0px;
        display: inline-block;
        max-width: 100%;
        min-width: 60%;
    }

    .picture_ipog_gallery
    {
        border-radius: 2.5px;
    }

    .picture_certificate
    {
        max-width: 100%;
    }
}

.container_element
{
    display: grid;
}


/** Content Pages and Footer **/

main
{
    margin: 20px auto 20px auto;
    max-width: 1100px;
    line-height: 150%;

    border: 20px solid;
    border-image: url("images/design/panel_content.png") round;
    border-image-slice: 20 fill;
}

#main_blog
{
    margin: 20px auto 20px auto;
    max-width: 1100px;
    line-height: 150%;

    border: 20px solid;
    border-image: url("images/design/blog_panel_content.png") round;
    border-image-slice: 20 fill;
}

.content_projects,
.content_career
{
    max-width: 700px;
}

.content_gallery
{
    max-width: 1600px;
}

.about, .career, .skills
{
    list-style-type: disc;
    margin-bottom: 16px;
}

details
{
    border: 1px solid var(--border-color-summary);
    border-radius: 4px;
    padding: 8px 8px 0px;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: var(--background-color-details);
}

summary
{
    margin: -8px -7px 0px;
    padding: 8px;
    background-color: var(--background-color-summary);
}

details[open]
{
    padding: 8px;
}

details[open] summary
{
    border-bottom: 1px solid var(--border-color-summary);
    margin-bottom: 8px;
}

.details_certificates
{
    margin-top: 48px;
    margin-bottom: 16px;
}

.text_skills_hard, .text_skills_soft
{
    margin-top: 48px;
}

.text_skills_soft, .text_skills_hard, .text_profile
{
    margin-bottom: 16px;
}

.text_skills, .text_skills_subtitle, .text_project_subtitle, .text_contributions
{
    padding-bottom: 2px;
}

.text_contact, .text_project_info, .list_ipogmod, .text_institution_info
{
    line-height: 125%;
}

.list_ipogmod li
{
    margin-bottom: 28px;
}

.text_profile_subtitle
{
    margin-top: 32px;
    line-height: 125%;
}

.text_testimonial, .text_skills, .text_contributions
{
    margin-bottom: 16px;
}

.text_contributions
{
    margin-top: 32px;
}

.text_testimonial
{
    margin: 32px;
    max-width: 670px;
}

.content_bottom, .text_skills_subtitle
{
    margin-top: 56px;
}

.text_institution_description
{
    margin-top: 48px;
}

.text_project_subtitle
{
    margin-top: 36px;
}

.text_projects,
.text_career
{
    line-height: normal;
    margin-top: 24px;
}

.text_news_title, .text_puzzle, .text_sitethemes, .text_picture_credits
{
    margin-bottom: 32px;
}

.text_picture_credits_avatar
{
    margin-bottom: 48px;
}

.text_testimonial_contactinfo
{
    margin-top: -8px;
    margin-bottom: -8px;
    word-spacing: 10px;
}

.text_contributed_projects_bottom
{
    margin-top: 56px;
}

.text_error
{
    color: var(--primary-color-error);
}

.text_documentation > a:nth-child(n)
{
    color: var(--primary-color-documentation);
    text-decoration: none;
}

.text_typing
{
    color: var(--primary-color-typing);
}

.site_last_update_date
{
    margin-top: 32px;
}

.content_loading
{
    text-align: center;
    justify-content: center;
    line-height: normal;
    margin-bottom: 20px;

    font-family: monospace;
}

main a:link, footer a:link
{
    color: var(--link-color-unvisited);
}

main a:visited, footer a:visited
{
    color: var(--link-color-visited);
}

#html_blog a:link, #html_blog a:link
{
    color: var(--link-color-unvisited-documentation);
}

#html_blog a:visited, #html_blog a:visited
{
    color: var(--link-color-visited-documentation);
}

::selection
{
    background: var(--selection-background);
    color: var(--selection-text);
}

#html_blog ::selection, #html_blog ::selection, #html_blog ::selection
{
    background: var(--selection-background-documentation);
    color: black;
}

#footer_blog, #main_blog, #nav_blog
{
    color: var(--primary-color-documentation-font);
}

.container_table_of_contents
{
    margin: 5% 30% 5% 30%;

    border: 60px solid;
    border-image: url("images/design/border.png") round;
    border-image-slice: 165 fill;

    image-rendering: initial;
    background-color: var(--background-color-table-of-contents);
    border-radius: 5%;
}

@media only screen and (max-width: 768px)
{
    .container_table_of_contents
    {
        margin: 5% 10% 5% 10%;
    }
}

.text_table_of_contents
{
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 16px;
}

footer
{
    margin: 20px auto 20px auto;
    max-width: 1045px;
    width: 95%;
    line-height: 150%;

    border: 20px solid;
    border-image: url("images/design/panel_footer.png") round;
    border-image-slice: 21 fill;
}

#footer_blog
{
    margin: 20px auto 20px auto;
    max-width: 1045px;
    width: 95%;
    line-height: 150%;

    border: 20px solid;
    border-image: url("images/design/blog_panel_footer.png") round;
    border-image-slice: 21 fill;
}

.button_rss
{
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;

    width: 32px;
    height: 31px;
    line-height: 79px;

    margin: 1px;
    
    border: 7px solid;
    border-image: url("images/design/button_rss.png") round;
    border-image-slice: 7 fill;

    image-rendering: initial;
}


/** Navigation Header **/

nav
{
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
    max-height: 20%;
    max-width: 95%;

    border: 15px solid;
    border-image: url("images/design/panel_navbar.png") round;
    border-image-slice: 40 fill;
}

#nav_blog
{
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
    max-height: 20%;
    max-width: 95%;

    border: 15px solid;
    border-image: url("images/design/blog_panel_navbar.png") round;
    border-image-slice: 40 fill;
}


/* Navbar Buttons */

.button, #nav_blog > a:nth-child(n)
{
    line-height: 150%;

    color: var( --button-font-color);
    text-decoration: none;

    width: auto;
    min-width: 118px;

    border: 7px solid;
    border-image: url("images/design/button_off.png") round;
    border-image-slice: 7 fill;
}

#nav_blog > a:nth-child(n)
{
    color: var( --button-font-color-documentation);

    border: 7px solid;
    border-image: url("images/design/blog_button_off.png") round;
    border-image-slice: 7 fill;
}

#Home_HomeButton,
#News_NewsButton,
#About_AboutButton,
#Skills_SkillsButton,
#Projects_ProjectsButton,
#Testimonials_TestimonialsButton,
#Contact_ContactButton,
#AcademicProjects_AcademicButton,
#PersonalProjects_PersonalButton,
#ContributedProjects_ContributionsButton,
#Academic_ProjectsButton, #Academic_AcademicButton,
#Personal_ProjectsButton, #Personal_PersonalButton,
#Contributions_ProjectsButton, #Contributions_ContributionsButton,
#Career_CareerButton,
#Education_CareerButton, #Education_EducationButton,
#Jobs_CareerButton, #Jobs_JobsButton,
#Freelancing_CareerButton, #Freelancing_FreelancingButton,
#Donate_DonateButton
{
    line-height: 150%;
    
    color: var(--secondary-color-font);
    text-decoration: none;

    width: auto;
    min-width: 118px;

    border: 7px solid;
    border-image: url("images/design/button_on.png") round;
    border-image-slice: 7 fill;
}
