/* Personal Site - My home on the Internet
Copyright (C) 2022-2025 William Weber Berrutti (aka Cyantusk)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see https://www.gnu.org/licenses/. */

html
{
    box-sizing: border-box;
}

*, *::before, *::after
{
    box-sizing: inherit;
}

:root
{
    text-align: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    overflow-wrap: break-word;
    overflow-y: scroll;

    color: #a8d4fc;
    font-family: sans-serif;
    font-size: 16px;

    background-image: url("images/design/background.png");
    background-position: center top;

    image-rendering: crisp-edges;
}

a:focus
{
    outline: 0.05em solid #a8d4fc;
    z-index: 0;

    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6
{
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
}

h1
{
    margin-top: 22px;
    font-size: 20px;
}

h2
{
    font-size: 18px;
}

h2, h3, h4, h5, h6
{
    margin-top: 36px;
}

.blog_poem, .blog_poem_stanza
{
    line-height: 150%;
}

.blog_poem_stanza
{
    margin-top: 48px;
}

main a:link, footer a:link
{
    color: #d060d4;
    text-decoration: underline;
}

main a:visited, footer a:visited
{
    color: #54acfc;
    text-decoration: underline;
}

::selection, .selected_text
{
    background: #a8d4fc;
    color: #00182c;
}

nav, .navbar_lang
{
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
    max-height: 20%;
    max-width: 97%;

    border: 12px solid;
    border-image: url("images/design/panel_navbar.png") round;
    border-image-slice: 19 fill;

    image-rendering: initial;
}

.navbar_lang
{
    max-height: auto;
    height: 79px;
    margin-bottom: 1.5px;
}

li
{
    text-align: left;
    justify-content: left;
    line-height: 150%;
    margin-bottom: 12px;
}

.navbar_post
{
    max-height: 20%;
    max-width: 115px;
}

img
{
    max-width: 100%;
    height: auto;
}

.picture_illustration_medium, .picture_illustration_small, .picture_illustration_big, .picture_illustration_resources
{
    margin-top: 15px;
    border-radius: 10px;

    border: 12px solid;
    border-image: url("images/design/panel_navbar.png") repeat;
    border-image-slice: 16 fill;

    image-rendering: initial;
}

.picture_illustration_resources
{
    max-width: 55%;
}

.picture_illustration_big
{
    max-width: 40%;
}

.picture_illustration_medium
{
    max-width: 35%;
}

.picture_illustration_small
{
    max-width: 30%;
    width: 17.5%;
}

@media only screen and (max-width: 768px)
{
    .picture_illustration_resources
    {
        max-width: 65%;
    }

    .picture_illustration_big
    {
        max-width: 50%;
    }

    .picture_illustration_medium
    {
        max-width: 45%;
    }

    .picture_illustration_small
    {
        max-width: 40%;
        width: auto;
    }
}

.creative_commons_license
{
    margin-top: 16px;
}

main
{
    margin: 10px auto 10px auto;
    max-width: 1100px;
    line-height: 150%;
    
    border: 15px solid;
    border-image: url("images/design/panel_content.png") round;
    border-image-slice: 24 fill;

    image-rendering: initial;
}

.container_table_of_contents
{
    margin: 20px 30% 5% 30%;

    border: 15px solid;
    border-image: url("images/design/panel_footer.png") round;
    border-image-slice: 20 fill;

    image-rendering: initial;
}

@media only screen and (max-width: 768px)
{
    .container_table_of_contents
    {
        margin: 20px 20% auto 20%;
    }
}

.text_table_of_contents
{
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 16px;
}

footer
{
    margin: 10px auto 10px auto;
    max-width: 1045px;
    width: 95%;
    line-height: 150%;

    border: 15px solid;
    border-image: url("images/design/panel_footer.png") round;
    border-image-slice: 24 fill;

    image-rendering: initial;
}

@media only screen and (max-width: 768px)
{
    footer
    {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.text_blog_title, .phrases_last_update_date, .learnings_last_update_date, .empty_content_text
{
    margin-bottom: 32px;
}

.site_last_update_date, .phrases_last_update_date, .learnings_last_update_date, .empty_content_text
{
    margin-top: 32px;
}

.circle_button_note
{
    margin-top: 32px;
    margin-bottom: 32px;
}

.container_phrases, .container_learnings
{
    position: relative;
    flex-wrap: wrap;
    display: flex;
    row-gap: 0;
    grid-row-gap: 0;
}

.container_phrases_element, .container_learnings_element
{
    display: grid;
    justify-content: normal;
    align-items: center;
    text-align: left;
    justify-content: left;

    grid-template-columns: 60px auto;
    width: 100%;
    margin-bottom: -10px;
}

.button_other
{
    margin: 1px;
    margin-right: 6px;

    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    line-height: 310%;

    width: 50px;
    height: 50px;

    image-rendering: initial;

    border: 1 solid;
    border-image: url("images/design/button_off.png");
    border-image-slice: 1 fill;
}

main p .button_other
{
    color: white;
    text-decoration: none;
}

.button_rss, .button_lang
{
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;

    color: black;
    text-decoration: none;

    width: 55px;
    height: 55px;
    line-height: 139px;

    image-rendering: initial;
}

.button_rss:focus, .button_lang:focus, .button_other:focus
{
    outline: 0.05em solid #a8d4fc;
    z-index: 0;

    border-radius: 50%;
}

.button_rss
{
    margin: 1px;
    
    border: 1 solid;
    border-image: url("images/design/button_rss.png");
    border-image-slice: 1 fill;
}

.button_lang
{
    margin-top: -16px;

    border: 1 solid;
    border-image: url("images/design/button_language.png");
    border-image-slice: 1 fill;
}

.button
{
    color: white;
    text-decoration: none;
    line-height: 125%;

    width: auto;
    min-width: 130px;

    margin: 0.65px;

    border: 11px solid;
    border-image: url("images/design/button_off.png") round;
    border-image-slice: 26 fill;

    image-rendering: initial;
}

.button:focus
{
    outline: 0.05em solid #a8d4fc;
    z-index: 0;

    border-radius: 10px;
}

.button_post
{
    width: auto;
    min-width: 70px;
}

#Home_HomeButton,
#Phrases_PhrasesButton,
#Thoughts_ThoughtsButton,
#Learnings_LearningsButton,
#Poems_PoemsButton,
#Tutorials_TutorialsButton,
#Resources_ResourcesButton
{
    color: black;
    text-decoration: none;
    line-height: 125%;
    font-weight: 600;

    width: auto;
    min-width: 130px;

    margin: 0.65px;

    border: 11px solid;
    border-image: url("images/design/button_on.png") round;
    border-image-slice: 26 fill;

    image-rendering: initial;
}
